.home {
  display: flex;
  height: calc(100vh - 50px);
  max-width: 1100px;
  padding: 30px;
  margin: 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

.home__img {
  max-height: 400px;
  max-width: 350px;
  border-radius: 50%;
  overflow: hidden;
}

.home__name {
  overflow-x:hidden;
  overflow-y:hidden;
}

.name {
  font-size: 90px;
  font-family: var(--jost);
  font-weight: 700;
  width: 100%;
  text-align: center;
}

