.header {
  display: flex;
  align-items: center;
  background-color: var(--verylight);
  height: 50px;
  position: sticky;
  top: 0;
  width: 100%;
}

.header__logo {
  position: fixed;
  left: 20px;
  height: 120px;
  transition: all 300ms ease-in-out;
}
.imagen:hover {
  scale: 1.1;
}
.logo {
  height: 120px;
}

.navbar {
  display: flex;
  gap: 20px;
  font-family: var(--lato);
  font-size: 20px;
  color: var(--verylight-brown);
  position: fixed;
  right: 70px;
  transition: color 300ms ease-in-out;
}

.navbar > a:hover {
  color: var(--brown);
}

@media screen and (max-width: 670px) {
  .navbar {
    display: none;
  }
}

.icon {
  font-family: "Anicons Regular", sans-serif;
  font-variation-settings: "TIME" 1;
  font-size: 44px;
  transition: font-variation-settings 0.4s ease;
  position: fixed;
  right: 20px;
  top: -10px;
  user-select: none;
}
.icon:hover {
  font-variation-settings: "TIME" 100;
}

@media screen and (min-width: 670px) {
  .icon {
    display: none;
  }
}